<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=0.8">
<title>Hospital-Mng</title>
<link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/styles/shared2.css}">
<link rel="stylesheet" th:href="@{/styles/scrollbar.css}">
<link rel="stylesheet"
	th:href="@{/styles/fontawesome-free-6.5.2-web/css/all.min.css}">

<style>
</style>
<link rel="stylesheet" href="">
</head>

<body>

	<header th:replace="~{/head :: body-header}"></header>


	<div class="content-container">
		<div class="panel-container">
			<div id="card-placeholder">
			<section th:replace="~{/selected-card :: doc-card}"></section>
<!-- 				<section class="card-section"> -->
<!-- 					<div class="selected-card col"> -->
<!-- 						<div class="selected-img col-3 "> -->
<!-- 							<figure> -->
<!-- 								<span class="selected-status"> <span class="dot"> -->
<!-- 								</span> <span class="col status-text">Working now</span> -->
<!-- 								</span> -->
<!-- 								<img src="/images/Docs/doc-img-example.jpeg" alt="" width=""> -->
<!-- 								<figcaption class="doc-rank"> -->
<!-- 									<b>General Practitioner (GP)</b> -->
<!-- 								</figcaption> -->
<!-- 							</figure> -->
<!-- 						</div> -->

<!-- 						<div class="ps-4 selected-info d-block col"> -->
<!-- 							<div class="col"> -->
<!-- 								<div class="row"> -->

<!-- 									<div class="pt-1 col-3 info-item"> -->

<!-- 										<span class="label row">Name:</span> <span -->
<!-- 											id="selected-doc-name" class="details row" -->
<!-- 											th:text="${doc!=null? (doc.getFullName()!=null? doc.getFullName():'-'):'-'}">-</span> -->
<!-- 									</div> -->
<!-- 									<div class="pt-1 col-3 info-item"> -->
<!-- 										<span class="label row">Specialize:</span> <span -->
<!-- 											id="selected-doc-speciality" class="details row" -->
<!-- 											th:text="${doc!=null? (doc.getSpecialize()!=null? doc.getSpecialize()!=null?doc.getSpecialize().getName():'':''):''}">-</span> -->
<!-- 									</div> -->
<!-- 									<div class="pt-1 col-3 info-item"> -->
<!-- 										<span class="label row">Section:</span> <span -->
<!-- 											id="selected-doc-section" class="details row"></span> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<hr> -->
<!-- 							<div class="row"> -->
<!-- 								<div class="col"> -->
<!-- 									<div class="pt-1 col info-item working hours"> -->
<!-- 										<div class="row"> -->
<!-- 											<div class="label row">Working Days:</div> -->
<!-- 										</div> -->
<!-- 										                  <hr width="130px"> -->
<!-- 										<ul class="col-8 row"> -->

<!-- 											<div class="col-6" th:each="shift : ${doc.getShifts() }"> -->
<!-- 												<li class="col"> -->
<!-- 													<div class="col-4" th:text="${shift.getDayOfWeek()}"> -->
<!-- 														Sat&rarr;Thurs</div> -->
<!-- 													<div class="col"> -->
<!-- 														<mark class="fa-solisd" -->
<!-- 															style="font-size: 12px; background-color: #909090; color: white; border-radius: 5px;" -->
<!-- 															th:text="${shift.getShiftStart()+'&rarr; '+shift.getShiftEnd()}"> -->
<!-- 															4pm&rarr;7pm </mark> -->
<!-- 													</div> -->
<!-- 												</li> -->
<!-- 												                      <li class="col-5"> -->
<!-- 												                        <div class="col-4"> -->
<!-- 												                          Sat&rarr;Thurs -->
<!-- 												                        </div> -->
<!-- 												                        <div class="col-4"> -->
<!-- 												                          <mark> -->
<!-- 												                            4pm&rarr;7pm -->
<!-- 												                          </mark> -->
<!-- 												                        </div> -->
<!-- 												                      </li> -->
<!-- 												                      <li class="col-5"> -->
<!-- 												                        <div class="col-4"> -->
<!-- 												                          Sat&rarr;Thurs -->
<!-- 												                        </div> -->
<!-- 												                        <div class="col-4"> -->
<!-- 												                          <mark> -->
<!-- 												                            4pm&rarr;7pm -->
<!-- 												                          </mark> -->
<!-- 												                        </div> -->
<!-- 												                      </li> -->
<!-- 												                      <li class="col-5"> -->
<!-- 												                        <div class="col-4"> -->
<!-- 												                          Sat&rarr;Thurs -->
<!-- 												                        </div> -->
<!-- 												                        <div class="col-4"> -->
<!-- 												                          <mark> -->
<!-- 												                            4pm&rarr;7pm -->
<!-- 												                          </mark> -->
<!-- 												                        </div> -->
<!-- 												                      </li> -->
<!-- 											</div> -->

<!-- 											                    <div class="col"> -->
<!-- 											                      <li class="col-5"> -->
<!-- 											                        <div class="col-4"> -->
<!-- 											                          Sat&rarr;Thurs -->
<!-- 											                        </div> -->
<!-- 											                        <div class="col-4"> -->
<!-- 											                          <mark> -->
<!-- 											                            5pm&rarr;4pm -->
<!-- 											                          </mark> -->
<!-- 											                        </div> -->
<!-- 											                      </li> -->
<!-- 											                      <li class="col-5"> -->
<!-- 											                        <div class="col-4"> -->
<!-- 											                          Sat&rarr;Thurs -->
<!-- 											                        </div> -->
<!-- 											                        <div class="col-4"> -->
<!-- 											                          <mark> -->
<!-- 											                            5pm&rarr;4pm -->
<!-- 											                          </mark> -->
<!-- 											                        </div> -->
<!-- 											                      </li> -->
<!-- 											                      <li class="col-5"> -->
<!-- 											                        <div class="col-4"> -->
<!-- 											                          Sat&rarr;Thurs -->
<!-- 											                        </div> -->
<!-- 											                        <div class="col-4"> -->
<!-- 											                          <mark> -->
<!-- 											                            5pm&rarr;4pm -->
<!-- 											                          </mark> -->
<!-- 											                        </div> -->
<!-- 											                      </li> -->
<!-- 											                    </div> -->

<!-- 										</ul> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</div> -->

<!-- 							<div /> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</section> -->
			</div>
			<div class=" table-container">
				<div class="table">
					<table class="table table-striped table-hover caption-top"
						cellpadding="20">
						<caption>Doctors</caption>
						<thead>
							<tr>
								<th><input type="text" placeholder="&#xF002; Name"></th>
								<th><input type="text" placeholder="&#xF002; Specialize"></th>
								<th>Working Hours</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="doc, i :${doctors}"
								th:onclick="|selectDoctor(${doc.getDoctorId()})|">
								<td hidden><input
									th:href="${'api/doctor/'+doc.getDoctorId()}"></td>
								<td>
									<p th:text="${doc.getFullName()}">Doc Name</p>
								</td>
								<td>
									<p th:text="${doc.getSpecialize().getName()}">Specialize</p>
								</td>
								<td>
									<p>Working hours</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	<footer></footer>

</body>

<script>
	function selectDoctor(doctorId) {
// 		location.href = "/doctor/" + doctorId+"/fragment";
		var path = '/doctor/' + doctorId+'/fragment';
			fetch(path)
			.then(response => response.text())
			.then(html => {
			document.getElementById('card-placeholder').innerHTML=html;
			})
			.catch (error => console.error('Error fetching doctor details:',error));
	}
</script>

</html>